
@font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto-400-cyrilic.woff2") format('woff2');
    src: url("fonts/Roboto-400-latin.woff2") format('woff2');
    src: url("fonts/Roboto-500-cyrilic.woff2") format('woff2');
    src: url("fonts/Roboto-500-latin.woff2") format('woff2');
    src: url("fonts/Roboto-100-latin.woff2") format('woff.2');
    src: url("fonts/Roboto-100-cyrilic.woff2") format('woff.2');
}

.capital-text{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: #383838;
}

.text{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #383838;
}

.first-column-text, .second-column-text, .third-column-text{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.first-column-text-main, .second-column-text-main, .third-column-text-main{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}

.bottom-text{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.text-main{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 59px;
}

.text-2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.text-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 25px;
}

.side-text{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
}
.text-4{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
}

