@import "fonts.css";
body{
    margin: 0;
    padding: 0;
}
.main-div{
    max-width:1500px;
    max-height: 575px;
}
.top-lane{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 40px;
}

.lane{
    height: 5px;
    width: 100px;
    margin-top: 20px;
    background: #F5BD41;
    border-width: 0;
}
.img-1 {
    margin-left: 35px;
}
.img-2{
    margin-left: 70px;
}
.img-3{
    margin-left: 20px;
}
.img-4{
    margin-left: 60px;
}
.tag-p{
    margin-top: 40px;
}

.block{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.image{
    align-self: auto;
}

.text-bot-lane div {
    margin-top: 50px;
}

.back-color{
    background: #10367C;
    max-width: 1500px;
    max-height: 650px;
    padding-top: 120px;
    margin-top: 50px;
}
.columns{
    display: flex;
    justify-content: space-around;
}

.first-column-text-main, .second-column-text-main, .third-column-text-main{
    margin-bottom: 25px;
    font-size: 20px;
}
.second-column-text{
    margin-right: 0px;
}
.third-column-text{
    margin-right: 280px;
}

.first-column-text, .second-column-text, .third-column-text{
    margin-bottom: 25px;
    font-size: 20px;
}

.bottom-text{
    margin-left: 105px;
    margin-top: 65px;
    padding-bottom: 100px;

}