@import "fonts.css";

body{
    margin: 0;
}

.back-img{
    background-image: url('img/backgroundimg .svg');
    background-repeat:no-repeat ;
    width: auto;
    border-style: solid;
    background-position: center;
    height: 1000px;
}

.main-lane{
    display: flex;
    justify-content: space-around;
    align-self: baseline;
}

.side-text-1{
    margin-left: 140px ;
    margin-top: 100px;
}

.lane-under-logo{
    display: flex;
    height: 5px;
    width: 50px;
    margin-top: 0;
    background: #F5BD41;
    border-width: 0;
    margin-left: 1055px;
}

.lane-logo{
    margin: 0;
}

.top-padding{
    margin-top: 67px;
}

.text-top-lane:hover{
    border-bottom: 5px solid #F5BD41;
}
.text-check{
    margin-left: 185px;
}

.tag-a{
    color: #FFFFFF;
    text-decoration: none;
}

.text-left-padding{
    margin-left: 400px;
}
.icon-top-account{
    margin-top: 60px;
}

.main-part{
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    border-radius: 10px ;
    width: auto;
    max-width: 1200px;
    height: 65px;
    background-color: #FFFFFF;
    box-sizing: border-box ;
    margin-top: 25px;

}

.block-2{
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 260px;
    height: 65px;
    margin-left: 180px;
}

.block-2:hover{
    border: 3px solid #F5BD41;
    box-sizing: border-box;
    border-radius: 8px;
}

.first-date{
    margin-top: 20px;
    height: 20px;
    width: 63px ;
}
.second-date{
    margin-top: 20px;
    height: 20px;
    width: 63px;
    margin-left: 25px;
}

.block-3{
    display: flex;
    justify-content: center;
    width: 260px;
    height: 65px;
}
.block-3:hover{
    border: 3px solid #F5BD41;
    box-sizing: border-box;
    border-radius: 8px;
}

.block-3-button{
    border-color: #ffffff;
    background-color: #FFFFFF;
    height: 35px;
    margin-top: 12px;

}

.block-4{
    height: 65px;
    width: 200px;
    background-color: #3077C6;
    border-radius: 10px;
    margin-left: 60px;
    border-color: #3077C6;
}

.block-1 {
    border: #FFFFFF;
    margin-top: 15px;
    margin-left: 45px;
    height: 30px;
}

.logo-blue{
    margin-left: 70px;
}

.position-main-text{
    margin-top: 200px;
    margin-left: 110px;
}

.logo{
    margin-top: 60px;
    margin-left: 150px;
}

.icon-bot{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.icon-bot-1{
    margin-right: 20px;
}

.top-lane{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 40px;
}

.lane{
    height: 5px;
    width: 100px;
    margin-top: 20px;
    background: #F5BD41;
    border-width: 0;
}

.block-help{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.image{
    align-self: auto;
    text-align: center;
}

.text-bot-lane div {
    margin-top: 50px;
}

.back-color{
    background: #10367C;
    padding-top: 120px;
    margin-top: 50px;
    width: auto;
}
.columns{
    display: flex;
    justify-content: space-around;
}

.first-column-text-main, .second-column-text-main, .third-column-text-main{
    margin-bottom: 25px;
    font-size: 20px;
}
.second-column-text{
    margin-right: 0;
}
.third-column-text{
    margin-right: 280px;
}

.first-column-text, .second-column-text, .third-column-text{
    margin-bottom: 25px;
    font-size: 20px;
}

.bottom-text{
    margin-left: 105px;
    margin-top: 65px;
    padding-bottom: 100px;

}
.logo-white-bottom{
    display: none;
}
@media only screen and (max-width: 1000px){
    .top-lane{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        font-size: 28px;
    }
    .lane{
        display: none;
    }
    .block-help{
        display: flex;
        flex-direction: column;
        line-height: 33px;
    }
    .text{
        font-size: 15px;
        line-height: 18px;
    }
    .first-column-text{
        display: none;
    }
    .second-column-text{
        display: none;
    }
    .third-column-text{
        display: none;
    }
    .first-column-text-main{
        text-decoration: underline;
    }
    .second-column-text-main{
        text-decoration: underline;
        margin-left: 15px;
        margin-right: 15px;
    }
    .third-column-text-main{
        text-decoration: underline;
    }
    .bottom-text{
        display: flex;
        justify-content: center;
        margin-top: 35px;
        padding-bottom: 40px;
        margin-left: 0;
    }
    .columns{
        display: flex;
        justify-content: center ;
        margin-top:  40px;

    }
    .logo-white-bottom{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
