@import "fonts.css";


.col-1{
    width: 8.33% ;
}

.col-2{
    width: 16.66% ;
}

.col-3{
    width: 25% ;
}

.col-4{
    width: 33.32% ;
}

.col-5{
    width: 41.65% ;
}

.col-6{
    width: 50% ;
}

.col-7{
    width: 58.31% ;
}

.col-8{
    width: 66.64% ;
}

.col-9{
    width: 74.97% ;
}

.col-10{
    width: 83.3% ;
}

.col-11{
    width: 91.63% ;
}

.col-12 {
    width: 100% ;
}


body{
    margin: 0;
}

.back-img{
    background-image: url('img/backgroundimg .svg');
    background-repeat:no-repeat ;
    width: auto;
    border-style: solid;
    background-position: center;
    height: 1000px;
    background-size: cover;
}

.main-lane{
    display: flex;
    justify-content: space-between;
    align-self: baseline;
    margin-left: 8.33%;
    margin-right: 8.33%;
}

.top-padding{
    margin-top: 67px;
}

.top-text-second,.icon-top-account,.icon-top-night{
    margin-left: 20px;
}

.text-4{
    box-sizing: border-box;
}

.text-top-lane:hover{
    border-bottom: 5px solid #F5BD41;
    padding-bottom: 12px;
    text-transform: capitalize;
}
label{
    position: absolute;
}

.text-check{
    margin-left: 185px;
}

.tag-a{

    color: #FFFFFF;
    text-decoration: none;
}

.second-part{
    display: flex;
    justify-content: space-around;
}

.tag-a-first{
    padding-bottom: 12px;
    line-height: 12px;
    border-bottom: 5px solid #F5BD41;
}

.text-left-padding{
    margin-left: 400px;
}

.icon-top-account{
    margin-top: 60px;
}

.menu-icon{
    display: none;
}

.search-section__title {
    width: 540px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    color: #ffffff;
    margin-bottom: 145px;
}

.search-form {
    display: flex;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    max-width: 1230px;
    width: 100%;
    height: 65px;
    border-radius: 8px;
    margin: 0 auto;
}

.search-form label {
    position: absolute;
    left: 25px;
    top: calc(50% - 21px / 2);
}

.search-form__group {
    display: flex;
    position: relative;
}
.search-form__group:hover{
    border: 3px solid #F5BD41;
    box-sizing: border-box;
    border-radius: 8px;
}

.search-form__group input:first-of-type {
    padding-left: 25px;
}

input {
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 21px;
}

.destination {
    max-width: 465px;
    width: 100%;
}

.destination__input {
    width: 100%;
    border-radius: 8px;
}

.loupe-icon {
    display: none;
}

.destination__label {
    transition: all .25s;
}

.check {
    max-width: 260px;
    width: 100%;
    border: 3px solid #f5bd41;
    border-radius: 8px;
    display: flex;
}

.check__label {
    display: none;
    }

.check__label--desktop {
    display: inline-block;
}

.date {
    width: 50%;
    border-radius: 8px;
}

.other-info {
    max-width: 315px;
    width: 100%;
    margin-left: 37px;
}
.other-info:hover{
    border: 3px solid #F5BD41;
    box-sizing: border-box;
    border-radius: 8px;
}

.other-info__input {
    width: 33.3%;
}

.other-info__label {
    display: none;
}

.third-number-label {
    display: inline-block;
}

.submit-btn {
    max-width: 190px;
    width: 100%;
    background-color: #3077C6;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s;
}

.destination__input:not(:placeholder-shown) + .destination__label,
.destination__input:focus + .destination__label,

.date:not(:placeholder-shown) ~ .check__label--desktop,
.date:focus ~ .check__label--desktop,

.other-info__input:not(:placeholder-shown) ~ .third-number-label,
.other-info__input:focus ~ .third-number-label{
    transform: translateY(-50px);
    color: #ffffff;
    transition: all .25s;
}





.position-main-text{
    margin-top: 200px;
    margin-left: 8.33%;
}

.logo{
    margin-top: 60px;
    margin-left: 150px;
}

.icon-bot{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.icon-bot-1{
    margin-right: 20px;
}

.block-help{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    height: 250px;
}

.top-lane{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 40px;
    position: relative;
}
.lane{
    position: absolute;
    background-color: #F5BD41;
    border:0;
    height: 5px;
    width: 100px;
    top: 30px;
}
.image{
    align-self: auto;
    text-align: center;
}

.text-bot-lane div {
    margin-top: 50px;
}

.block-different-hotels{
    background-color: #EAF0F9;
    width: auto;
    height: 850px;
    margin-top: 140px;
}
.div-text-hotels{
    display: flex;
    justify-content: center;
}
.text-block-hotels{
    margin-top:  100px;
    font-size: 40px;
}

.hotels-image{
    margin-left: 8.33%;
    margin-right: 8.33%;
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.text-hotels{
    font-size: 24px;
    line-height: 28px;
}

.text-hotels-grey{
    font-size: 24px;
    line-height: 28px;
}

.icon-arrows{
    position: absolute;
    right: -0.5%;
    top: 30%;
}

.image-1-hotels{
    max-width: 300px;
    max-height: 300px;
}

.image-2-hotels{
    width: 300px;
    height: 300px;
}

.destinations{
    height: 800px;
}
.text-destination-header{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 120px;
}
.button-block{
    position: relative;
}

.button-destinations-1,.button-destinations-2,.button-destinations-3{
    border-radius: 8px;
    border: 0;
    padding: 0;
    margin-top: 100px;
    height: 65px;
    width: 190px;
}
.button-destinations-1:focus,.button-destinations-2:focus,.button-destinations-3:focus{
    background-color: #3077C6;
}
.text-button-destinations:focus{
    color: #ffffff;
}

.button-destinations-1{
    margin-left: 8.33%;
}
.image-destinations{
    display: flex;
    justify-content: space-between;
    margin-left: 8.33%;
    margin-right: 8.33%;
    margin-top: 65px;
}
.image-destinations-1{
    max-width: 300px;
    max-height: 300px;
    position: relative;
}
.image-destinations-1::before,.image-destinations-2::before,.image-destinations-3::before, .image-destinations-4::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(56, 56, 56, 0.4);
}


.button-image-destinations-1{
    position: absolute;
    width: 128px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3077C6;
    box-sizing: border-box;
    border-radius: 8px;
    top: 124px;
    left: 84px;
    opacity: 0;

}
.button-image-destinations-1:hover{
    position: absolute;
    width: 128px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3077C6;
    box-sizing: border-box;
    border-radius: 8px;
    top: 124px;
    left: 84px;
    opacity: 1;

}
.image-destinations-2{
    max-width: 300px;
    max-height: 300px;
    position: relative;
}
.icon-arrows-destinations{
    transform: rotate(90deg);
    position: absolute;
    bottom: -100px;
    right: -35px;
}

.sign-up{
    height: 200px;
    margin-left: 8.33%;
    margin-right: 8.33%;
    width: 83.34%;
    background-color: #EAF0F9;
    position: relative;
}
.cross-closure{
    position: absolute;
    top: 24px;
    right: 24px;
}
.account-user{
    position: absolute;
    top: 25%;
    left: 24px;
}
.main-part-sign-up{
    display: flex;
    flex-direction: column;
    margin-left: 135px ;
}

.text-sign-up{
    margin-top: 50px;
}
.svg-logo-white{
    display: none;
}
.image-destinations-3, .image-destinations-4{
    max-height: 300px;
    max-width: 300px;
    position: relative;
}

.button-sign-up{
    margin-top: 20px;
    width: 130px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #3077C6;
    box-sizing: border-box;
    border-radius: 8px;
}
.reviews{
    width: auto;
    height: 1000px;
}
.div-text-reviews-main{
    display: flex;
    justify-content: center;
    margin-top:120px;
    margin-bottom: 105px;
    font-size: 40px;
    line-height: 45px;
}

.img-reviews-all{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 8.33%;
    margin-right: 8.33%;
}
.container-img-reviews{
    width: 400px;
    height: 760px;
    background-color: #EAF0F9;
}
.div-img-reviews-1,.div-img-reviews-2,.div-img-reviews-3{
    justify-content: center;
    position: absolute;
    top:352px; /*calc 400px-48px*/
    height: 48px;
    background-color: #383838;
    width: 400px;
    opacity: 70%;
}
.first-part-reviews{
    display: flex;
    justify-content: space-between;
    margin: 24px 24px 16px 24px;
}
.second-part-reviews{
    display: flex;
    justify-content: space-between;
    margin: 0 24px 30px 24px;
}
.first-part-reviews-score{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 32px;
    background-color: #10367c;
    border-radius: 8px;
}
.first-part-reviews-score-rectangle{
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin-top: 4px;
}
.account-reviews{
    margin-left: 29px;
}
.third-part-reviews{
    display: flex;
}
.text-first-column-reviews{
    margin: 24px 24px 0 24px;
}

.third-position-text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.text-reviews-third-bottom{
    margin-top: 8px;
}
.icon-arrow-reviews{
    position: absolute;
    right: -25px;
    top: 23%;
}
.text-sign-up-install{
    display: none;
}
.back-color{
    background: #10367c;
    padding-top: 120px;
    width: auto;
}
.columns{
    display: flex;
    justify-content: space-around;
}
.first-column{
    width: 16.66%;
}

.first-column-text-main, .second-column-text-main, .third-column-text-main{
    margin-bottom: 25px;
    font-size: 20px;
}
.second-column-text{
    margin-right: 0;
}
.third-column-text{
    margin-right: 280px;
}

.first-column-text, .second-column-text, .third-column-text{
    margin-bottom: 25px;
    font-size: 20px;
}

.bottom-text{
    margin-left: 105px;
    margin-top: 65px;
    padding-bottom: 100px;

}
.logo-white-bottom{
    display: none;
}
@media only screen and (max-width: 720px) {

    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.32%;
    }

    .col-sm-5 {
        width: 41.65%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.31%;
    }

    .col-sm-8 {
        width: 66.64%;
    }

    .col-sm-9 {
        width: 74.97%;
    }

    .col-sm-10 {
        width: 83.3%;
    }

    .col-sm-11 {
        width: 91.63%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .logo-blue {
        margin-top: 15px;
        width: 125px;
        height: 25px;
    }

    .position-main-text {
        margin-top: 50px;
    }

    .text-top-lane {
        display: none;
    }

    .top-padding {
        margin-top: 14px;
    }

    .icon-top-account {
        margin-top: 10px;
        width: 24px;
        height: 24px;
    }

    .icon-top-night {
        width: 16px;
        height: 16px;
    }

    .menu-icon {
        display: block;
        margin-top: 15px;
    }

    .top-lane {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        font-size: 28px;
    }

    .block-help {
        display: flex;
        flex-direction: column;
        line-height: 33px;
        margin-top: 30%;
    }

    .text {
        font-size: 15px;
        line-height: 18px;
    }

    .block-different-hotels {
        height: 500px;
        justify-content: center;


    }

    .text-block-hotels {
        margin-top: 40px;
    }

    .block-3-hotels {
        display: none;
    }

    .block-4-hotels {
        display: none;
    }

    .text-hotels {
        font-size: 12px;
    }

    .text-hotels-grey {
        font-size: 12px;
    }

    .hotels-image {
        margin-top: 40px;
        justify-content: center;

    }

    .block-1-hotels {
        margin-right: 20px;
    }

    .image-1-hotels {
        width: 100%;
        height: 155px;

    }

    .image-2-hotels {
        width: 100%;
        height: 155px;
    }

    .icon-arrows {
        top: 20%;
        right: 19%;
    }

    .first-column-text {
        display: none;
    }

    .second-column-text {
        display: none;
    }

    .button-block {
        display: flex;
        justify-content: center;
    }

    .button-destinations-1, .button-destinations-2, .button-destinations-3 {
        margin-top: 32px;
        border-radius: 4px;
        width: 98px;
        height: 32px;
        margin-right: 8.33%;
    }

    .third-column-text {
        display: none;
    }

    .first-column-text-main {
        text-decoration: underline;
    }

    .second-column-text-main {
        text-decoration: underline;
        margin-right: 40px;
    }

    .third-column-text-main {
        text-decoration: underline;
    }


    .image-destinations {
        justify-content: center;
    }

    .text-destination-header {
        margin-top: 40px;
        font-size: 28px;
    }

    .image-destinations-3, .image-destinations-4 {
        display: none;
    }

    .image-destinations-1 {
        margin-right: 16px;
    }
    .image-destinations-1::before,.image-destinations-2::before{
        position: relative;
    }

    .image-1-destinations {
        filter: none;
    }

    .button-destinations-1, .button-destinations-2, .button-destinations-3 {
        width: 98px;
        height: 32px;
    }

    .text-button-destinations-3 {
        display: none;
    }

    .text-button-destinations {
        font-size: 19px;
    }

    .button-image-destinations-1 {
        display: none;
    }

    .image-1-destinations {
        width: 156px;
        height: 156px;
    }

    .image-2-destinations {
        width: 156px;
        height: 156px;
    }

    .icon-arrows-destinations {
        transform: rotate(0);
        right: -25px;
        top: 35%;
    }

    .bottom-text {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        padding-bottom: 40px;
        margin-left: 0;
    }

    .columns {
        display: flex;
        justify-content: center;
        margin-top: 40px;

    }

    .logo-white-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-form {
        flex-direction: column;
        height: unset;
        background-color: #F5BD41;
        padding: 8px;
    }

    .search-form__group {
        display: flex;
        margin-bottom: 8px;
    }

    .other-info {
        margin-left: 0;
    }

    .search-form__group .date.date,
    .search-form__group .other-info__input.other-info__input {
        padding-left: 8px;
    }

    .search-form input {
        height: 50px;
        border-radius: 4px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    .search-form label {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    .destination, .check, .other-info {
        max-width: unset;
    }

    .destination__loupe-icon {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        color: #BFBFBF;
        top: 15px;
        left: 12px;
    }

    .search-form input.destination__input {
        padding-left: 35px;
    }

    .search-form label.destination__label {
        left: 35px;
    }

    .check {
        border: none;
    }

    .date:not(:first-child) {
        margin-left: 8px;
    }

    .check__label, .other-info__label, .other-info__input {
        display: inline-block;
    }

    .check__label:nth-child(4) {
        position: absolute;
        left: calc(50% + 8px + 8px);
    }

    .check__label--desktop {
        display: none;
    }

    .other-info__input {
        width: 33.3%;
        margin-right: -1px;
    }

    .search-form .other-info__input {
        border-radius: 0;
    }

    .third-number-label {
        display: none;
    }

    .other-info label:nth-child(5) {
        position: absolute;
        left: calc(33.3% + 8px);
    }

    .other-info label:nth-child(8) {
        position: absolute;
        left: calc(33.3% * 2 + 8px);
    }

    .other-info__label, .check__label {
        transition: all .25s;
    }


    .destination__input:not(:placeholder-shown) + .destination__label,
    .destination__input:focus + .destination__label,
    .date:not(:placeholder-shown) + .check__label,
    .date:focus + .check__label,
    .other-info__input:not(:placeholder-shown) + .other-info__label,
    .other-info__input:focus + .other-info__label {
        transform: translateY(-15px);
        color: #383838;
        font-size: 12px;
        transition: all .25s;
    }

    .divisor {
        height: 30px;
        width: 1px;
        background-color: #bfbfbf;
        transform: translateY(30%);
    }

    .submit-btn {
        height: 50px;
        max-width: unset;
        width: 100%
    }
    .destinations{
        height: 400px;
    }
    .reviews{
        height: 900px;
    }
    .container2-reviews,.container3-reviews,.div-img-reviews-1{
        display: none;
    }
    .container-img-reviews{
        width: auto;
    }
    .img-reviews-all{
        justify-content: center;
        margin: 0;
    }
    .container1-reviews{
        display: flex;
        justify-content: center;
    }
    .adaptive-change{
        display: flex;
        flex-direction: column-reverse;
    }
    .sign-up{
        margin-top: 130px;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-around;

    }
    .account-user{
        display: none;
    }
    .svg-logo-white{
        display: block;
        background-color: #3077C6;
        border-radius: 4px;
        width: 58px;
        height: 58px;
        margin-top: 60px;
    }
    .cross-closure{
        position: relative;
        margin-top: 80px;
        top: 0;
        right: 0;
    }
    .button-sign-up{
        display: none;
    }
    .text-sign-up{
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        margin-top: 80px;
    }
    .main-part-sign-up{
        margin: 0;
    }
    .second-part-sign-up{
        display: flex;
    }

    .text-sign-up-install{
        display: block;
        margin-top: 80px;
    }
}
